body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

#board {
    background-image: url("./Imagenes/fondomejorado.png");
    cursor: default;
}

#restartBtn {
    position: absolute;
    padding: 10px 25px;
    font-size: 20px;
    background-color: black;
    color: red;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    display: none;
    z-index: 10;
    max-width: 80%;
    box-sizing: border-box;
    text-align: center;
    white-space: nowrap;
}

#restartBtn:hover {
    background-color: #333;
}

@media (max-width: 480px) {
    #restartBtn {
        font-size: 18px;
        padding: 8px 20px;
    }

    #playBtn {
        font-size: 18px;
        height: 35px;
    }

    #board {
        width: 100vw !important;
        height: auto !important;
        max-height: 90vh;
    }
}
